---
import { Info, MapPin, Phone } from "lucide-react";
import MiniMap from "../ui/mini-map.astro";
---

<section class="flex flex-col place-items-center mx-2 py-10">
  <p class="font-bhood text-[4.2rem] md:text-[6rem] !text-[#db6f82]">
    Informações do Local
  </p>
  <div
    class="w-full flex flex-col md:flex-row gap-4 p-4 max-sm:place-items-center"
  >
    <div class="flex flex-col flex-1 gap-3">
      <div class="flex items-start space-x-3">
        <MapPin className="w-5 h-5 mt-0.5 text-primary !text-[#db6f82]" />
        <div>
          <h3 class="font-semibold !text-[#db6f82]">Endereço</h3>
          <p>R. Lateral, 944 - Aricanduva, São Paulo - SP, 03479-000</p>
        </div>
      </div>
      <div class="flex items-start space-x-3">
        <Phone className="w-5 h-5 mt-0.5 text-primary !text-[#db6f82]" />
        <div>
          <h3 class="font-semibold !text-[#db6f82]">Telefone</h3>
          <p>+55 (11) 2639-6778</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2 place-items-center">
      <MiniMap className="size-80 rounded-lg justify-self-center" />
      <div class="flex items-center space-x-2">
        <Info className="size-4 text-primary !text-[#db6f82]" />
        <p class="text-sm text-muted-foreground">Estacionamento no local</p>
      </div>
    </div>
  </div>
</section>
