---
import { FlipWords } from "../ui/flip-words";

const words = [
  "Neste momento único e especial",
  "Nessa jornada inesquecível",
  "Neste dia de celebração e alegria",
  "Na companhia de pessoas queridas",
  "Com gratidão e amor",
  "Para compartilhar momentos memoráveis",
];
---

<section class="container py-4">
  <div
    class="text-xl md:text-2xl font-sans text-neutral-600 dark:text-neutral-400"
  >
    <FlipWords client:load words={words} className="!text-[#db6f82]" />
    <br />
    É uma honra tê-lo conosco para celebrar este momento.
  </div>
</section>
