---
import { motion } from "framer-motion";
import { FlipWords } from "../ui/flip-words";
const words = ["Você está sendo convidado...", "Para o casamento de"];
/* const words = [
  "De muita alegria e amor...",
  "Compartilhando conosco...",
  "Neste dia tão especial...",
]; */
---

<section class="container py-4">
  <div
    class="font-sans text-neutral-600 dark:text-neutral-400 gap-4 flex flex-col"
  >
    <FlipWords
      client:load
      words={words}
      className="text-[3rem] !text-[#db6f82] font-dancing"
    />
    <motion.p
      client:only
      className="font-bhood text-[4rem] md:text-[6rem] !text-[#db6f82] text-center"
      variants={{
        hidden: { opacity: 0 },
        visible: { opacity: 1 },
      }}
      initial="hidden"
      animate="visible"
      transition={{ duration: 1.5, delay: 5 }}
    >
      Guilherme e Karine
    </motion.p>
    <motion.p
      client:only
      className="font-dancing text-muted-foreground text-[1.8rem]"
      variants={{
        hidden: { opacity: 0 },
        visible: { opacity: 1 },
      }}
      initial="hidden"
      animate="visible"
      transition={{ duration: 1.5, delay: 6 }}
    >
      Com muita alegria convidamos você para o dia mais esperado de nossas
      vidas, venha celebrar conosco o nosso casamento!
    </motion.p>
  </div>
</section>
