<section class="flex flex-col">
  <div
    class="flex flex-row uppercase my-10 font-mono w-full justify-self-center"
  >
    <div
      class="flex-1 flex flex-col text-[1.5rem] md:text-[2.5rem] !text-[#db6f82] place-items-center"
    >
      <p>17 JAN</p>
      <p>2025</p>
    </div>
    <p class="bg-red-400 w-[0.1rem] flex-initial"></p>
    <div
      class="flex-1 flex flex-col text-[1.5rem] md:text-[2.5rem] !text-[#db6f82] place-items-center"
    >
      <p>Sexta-feira</p>
      <p>às 20:45</p>
    </div>
  </div>
</section>
