---
import Carousel from '@/components/Carousel.tsx';
import BaseLayout from '@/layouts/BaseLayout.astro';
import fetchBucketFiles from '@/services/supabase/fetch_bucket_files';

const images = await fetchBucketFiles("66f48bd2000eb9464dae")

---
<Fragment slot="head">
	{images.map(url => <link rel="preload" href={url} as="image" />)}
</Fragment>

<BaseLayout title="Convite">
	<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
		<div class="flex max-w-[980px] flex-col items-start gap-2">
		  <h1
			class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
		  >
			Template teste <br class="hidden sm:inline" />
			Convite de casamento.
		  </h1>
		  <p class="max-w-[700px] text-lg text-muted-foreground">
			Lorem ipsum.
		  </p>
		</div>
		<Carousel client:load images={images} />
	  </section>
</BaseLayout>