---
import Cover from "@/components/sections/Cover.astro";
import Location from "@/components/sections/Location.astro";
import MainAlbum from "@/components/sections/MainAlbum.astro";
import Presentation from "@/components/sections/Presentation.astro";
import RotatingAlbum from "@/components/sections/RotatingAlbum.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Convite">
  <div class="flex flex-col pb-32">
    <Cover />
    <Presentation />
    <MainAlbum />
    <Location />
    <RotatingAlbum />
  </div>
</BaseLayout>
