---
import { FlipWords } from "@/components/ui/flip-words";
import { ImagesSlider } from "@/components/ui/images-slider";
import BaseLayout from "@/layouts/BaseLayout.astro";
import fetchBucketFiles from "@/services/buckets/fetch_bucket_files";

const images = await fetchBucketFiles("wedding_public", "carousel_main")
const words = ["História de Amor", "União", "Jornada"];

---

<Fragment slot="head">
  {images.map((url) => <link rel="preload" href={url} as="image" />)}
</Fragment>

<BaseLayout title="Convite">
  <div class="flex flex-col pb-32">
    <section
      class="h-dvh flex items-center justify-center overflow-x-hidden bg-black"
    >
      <p class="font-bhood text-[7rem] md:text-[10rem] !text-[#db6f82]">GK</p>
    </section> 
    <section class="h-[30dvh] bg-gradient-to-b from-black via-neutral-300 to-white"></section>
    <section class="container flex justify-start pb-6 pt-12">
      <div class="text-3xl font-normal text-neutral-600 dark:text-neutral-400">
        Nossa <FlipWords client:load words={words} />
        <br />
        venha celebrar conosco!
      </div>
    </section>
    <section class="container">
      <ImagesSlider
        client:load
        overlay={false}
        className=" h-[40rem] rounded-lg"
        direction="up"
        images={images}
      />
    </section>
  </div>
</BaseLayout>
