---
import { FlipWords } from "@/components/ui/flip-words";
import { ImagesSlider } from "@/components/ui/images-slider";
import BaseLayout from "@/layouts/BaseLayout.astro";
import fetchBucketFiles from "@/services/buckets/fetch_bucket_files";

const images = await fetchBucketFiles("66f48bd2000eb9464dae");
const words = ["História de Amor", "União", "Jornada"];
---

<Fragment slot="head">
  {images.map((url) => <link rel="preload" href={url} as="image" />)}
</Fragment>

<BaseLayout title="Convite">
  <div class="container flex flex-col gap-6">
    <section class="h-dvh flex items-center justify-center overflow-x-hidden">
      <p class="font-bhood text-[7rem] md:text-[10rem]">GK</p>
    </section>

    <section class="flex justify-start">
      <div class="text-3xl font-normal text-neutral-600 dark:text-neutral-400">
        Nossa <FlipWords client:load words={words} />
        <br />
        venha celebrar conosco!
      </div>
    </section>

    <ImagesSlider
      client:load
      overlay={false}
      className="h-[40rem] rounded-lg"
      direction="up"
      images={images}
    />
  </div>
</BaseLayout>
