---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Test">
	<main class="mx-auto p-4 w-dvw text-[#b42f2f] text-lg">

		<h1>Welcome to <span class="text-gradient">Convite</span></h1>


	</main>
</Layout>