---
import Carousel from "@/components/Carousel.tsx";
import { FlipWords } from "@/components/ui/flip-words";
import { ImagesSlider } from "@/components/ui/images-slider";
import BaseLayout from "@/layouts/BaseLayout.astro";
import fetchBucketFiles from "@/services/buckets/fetch_bucket_files";

const images = await fetchBucketFiles("66f48bd2000eb9464dae");
const words = ["better", "cute", "beautiful", "modern"];
---

<Fragment slot="head">
  {images.map((url) => <link rel="preload" href={url} as="image" />)}
</Fragment>

<BaseLayout title="Convite">
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div
      class="text-4xl mx-auto font-normal text-neutral-600 dark:text-neutral-400"
    >
      Test
      <FlipWords client:load words={words} />
      <br />
      websites with Aceternity UI
    </div>
    <ImagesSlider
      client:load
      overlay={false}
      className="h-[40rem] rounded-lg"
      direction="up"
      images={images}
    />
  </section>
</BaseLayout>
