---
import { supabase } from '../lib/supabase';

interface Props {
	bucketName: string;
	folderName: string;
}

const { bucketName, folderName } = Astro.props;

var images: string[] = []

const { data, error } = await supabase.storage.from(bucketName).list(folderName)
if(!error && data.length) data.forEach(file => {
    const url = supabase.storage.from(bucketName).getPublicUrl(`carousel_invite/${file.name}`).data.publicUrl
    images.push(url)
})
---

<div>
    {JSON.stringify(images)}
</div>

