---
import HeadSEO from "@/components/HeadSEO.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en" class="w-dvw overflow-x-hidden">
  <head>
    <HeadSEO title={title} description={description} />
    <slot name="head" />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased bg-black">
    <div class="relative flex min-h-screen flex-col">
      <main class="flex-auto">
        <slot />
      </main>
    </div>
  </body>
</html>
